.switch_lunar_solar_display{
    padding: 6px 12px; 
    border-radius: 4px;
    border: 1px solid#eee;
}

.switch_lunar_solar_btn{
    padding: 6px 12px; 
    color: white; 
    background-color: #006e33; 
    border-radius: 4px;
    border: none;
}

.switch_solar_calendar_date{
    border: 1px solid #bcccc3;
    border-radius: 4px;
    color: #FF8700;
    margin-left: 5px;
}

.switch_lunar_calendar_date{
    border: 1px solid #bcccc3;
    border-radius: 4px;
    color: #0B730B;
    margin-left: 5px;
}

.switch_lunar_calendar_table_item{
    border: 1px solid #0B730B;
    text-align: center;
    margin: 0;
    padding: 0;
}